// ===== Colors =====
$white: #ede5e4;
$green: #4c7a10;
$yellow: #ffbc16;
$red: #f52828;
$grey: #d3d1d1;
$blue: #7bace0;
$blue-light: #b6d2f0;
$black: #1c1b1b;

// ===== Size =====

$font-xl: 3rem;
$font-l: 2rem;
$font-m: 1.5rem;

// ===== Spacing =====

$space-xl: 5rem;
$space-l: 3rem;
$space-m: 1.5rem;
$space-s: 1rem;
$space-xs: 0.5rem;
